@tailwind base;
@tailwind components;
@tailwind utilities;

.display-linebreak {
  white-space: pre-line;
}

.question-container {
  background-color: #edf2f7;
  padding: 16px;
  transition: width;
  cursor: ew-resize;
}

.editor-container {
  background-color: #f7fafc;
  padding: 16px;
}

.border {
  cursor: e-resize;
}

.content {
  cursor: default;
  height: 100%;
}